body{
	margin-left: 20px;
	margin-right: 20px;
}

img{
	height: 140px;
	width: 180px;
	margin: 10px 10px 10px 10px;
}
#topRow{
	background: #67B26F; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #67B26F, #4ca2cd);
    background: -o-linear-gradient(right, #67B26F, #4ca2cd);
    background: linear-gradient(to left, #67B26F, #4ca2cd); /* Chrome 10-25, Safari 5.1-6  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
}
#nbl{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 18px;
	color: black;
}
.birds{
	background: #67B26F; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #67B26F, #4ca2cd);
    background: -o-linear-gradient(right, #67B26F, #4ca2cd);
    background: linear-gradient(to left, #67B26F, #4ca2cd); /* Chrome 10-25, Safari 5.1-6  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
}
h5{
	font-size: 22px;
}
h2{
	font-size: 38;
}
#pictures{
padding-left: 30px;  
}
.buttons{
background-color: #0A686B;
font-family: 'Gloria Hallelujah', cursive;
color: white;
}
.pix {
	height: 160px;
	width: 200px;
	text-align: center;
	position: relative;	
	top: 0px;
	left: 0px;
	float: left;
}
.rating {
    background-color: #0A686B;
    color: white;
    opacity: .7;
	text-shadow: all;
    top: 15px;
    right: 100px;
    position: absolute;
    padding-left: 8px;
    padding-right: 8px;
}
.container{
margin-top: 10px;
padding-left: 30px; 
}









